@media (max-width: 700px) {

    .menu-btn {
        display: block;
    }    
    .nav-main ul.nav-menu {
        display: block;
        position: absolute;
        top: 65px;
        left: 0px;
        background: #2f3640;
        height: 100%;
        padding: 30px;
        opacity: .9;
        transform: translateX(-400px);
        transition: transform .5s ease-in-out;
    }

    .nav-main ul.nav-menu.show{
        transform: translateX(-20px);
    }

    .nav-main ul.nav-menu li {
        padding: 20px;
        font-size: 14px;
    }

    .container .nav-main ul.nav-menu-right {
        margin-right: 50px;
    }

    .news-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .cards-banner-one .content,
    .cards-banner-two .content {
        width: 90%;
    }

    .footer-links .footer-container {
        grid-template-columns: repeat(2, 1fr);
    }

    
}

@media (max-width: 500px) {
    .news-cards {
        grid-template-columns: 1fr;
    }

    .news-cards img {
        height: 270px;
    }

    .cards-banner-one .content,
    .cards-banner-two .content {
        width: 100%;
        padding: 60px 20px;
    }

    .footer-links .footer-container {
        grid-template-columns: 1fr;
    }

}